.admin-main {
    height: 100vh;

}
.admin-body {
    display: flex;
}

.admin-controls {
    width: 25vw;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    border-right: 1px solid black;
}

.cron-button {
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: space-evenly;
    background-color: #fadcdc;
    margin: 1rem;
    padding: 12px;
    border-radius: 6px;
}

.response-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%;
}


.table-style {
    padding: 1rem;
}